@font-face {
  font-family: "Gilroy";
  font-weight: 900;
  src: local("Gilroy"), url(./fonts/Gilroy-ExtraBold.otf) format("opentype");
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url(./fonts/Gilroy-Light.otf) format("opentype");
}
body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
}
